<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="PrimaryConnectionString"
         connectionString="
            Password=123!@#qweQWE;
            Persist Security Info=True;
            User ID=sa;
            Initial Catalog=AdoBankingSystem;
            Data Source=DESKTOP-8J5LHB1" />
  </connectionStrings>
</configuration>